@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "remixicon/fonts/remixicon.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  font-family: sans-serif;
  direction: rtl;
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .my-container {
    @apply container mx-auto max-w-[1200px]; 
  }
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-redd: #eb1f26;
  --color-BijanRed: #e90000;
  --color-trans: #dddddd;
}

.shape{
  -webkit-border-bottom-left-radius: 140px;
  -moz-border-radius-bottomleft: 140px;
  border-bottom-left-radius: 140px;
}
.data1{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 15;
  box-shadow: 0px 0px 5px gray;
  
}
.shape2{
  border-radius: 0px 0px 0px 200px;
-webkit-border-radius: 0px 0px 0px 200px;
-moz-border-radius: 0px 0px 0px 200px;
}
.span1{
  height: 1px
}
.shadow1{
  box-shadow: 3px 3px 12px inset rgba(0, 0, 0, 0.2);
}






